<div class="form-container">
  <h1>If you want to add a new member of your protector, we need some information before!</h1>

  <form action="/pets/newpet" method="POST" enctype="multipart/form-data">
    <div class="image">
      <div class="preview">
        <img id="pet-img-preview" src="https://res.cloudinary.com/davpqpwqc/image/upload/v1677181455/tindPetPets/img-pet-preview_zi4zwq.jpg" />
      </div>
      <div class="form-section">
        <label for="image">We need a photo for getting to know your animal!</label>
        <input
          id="#input-photo-pet"
          type="file"
          accept="image"
          name="image"
          onchange="previewImage(event, '#pet-img-preview')"
        />
      </div>
      name<input type="text" name="name">
      age<input type="number" name="age">
      specie<input type="text" name="specie">
      gender<input type="text" name="gender">
    </div>
      <div class="form-section">
        <label for="about">How is he/she? What specie is, what is his/her charaacter...</label>
        <textarea name="about" cols="30" rows="10"></textarea>
      </div>

      <button type="submit">Create</button>
