<div class="footer">
  <div class="transparent">
</div>
<div class="info">
  <div class="text">
    <h2>www.TindPet.com</h2>
    <h2>Register brand by</h2>
    <h2>Silvia Edreira - Leandro Pereyra</h2>
  </div>
  <section class="phone">''
    <p>666-666-666</p>
    <p>tindpet@tindpet.com</p>
  </section>
  <section class="direction">
    <p>Rúa Nova de Abaixo nº3 BAJO</p>
    <p>CP 15701 Santiago de Compostela</p>
    <p>Galicia, España</p>
  </section>  
  </div>
</div>