<div class="footer">
  <div class="transparent"></div>
  <div class="text">
    <p>666-666-666</p>
    <p>tindpet@tindpet.com</p>
  </div>
  <div class="text">
    <p>Rúa Nova de Abaixo nº3 BAJO</p>
    <p>CP 15701 Santiago de Compostela</p>
    <p>Galicia, España</p>
  </div>
  <div class="text">
    <p>www.TindPet.com</p>
    <p>Register brand by</p>
    <p>Silvia Edreira - Leandro Pereyra</p>
  </div>
</div>