<div class="footer">
  <div class="transparent">
  </div>
  <div class="info">
    <div class="text">
      <h2>www.TindPet.com</h2>
      <p>Silvia Edreira - Leandro Pereyra</p>
    </div>
  </div>
</div>