<nav>
  <div class="navbar">
    <div class="transparent"></div>
    <div class="menu">
      <div class="links">
        
        <a class="navbar_text" href="/">Home</a>
        <a class="navbar_text" href="/pets">Pets</a>
        <a class="navbar_text" href="/contact">Contact</a>
        <a class="navbar_text" href="/ordinaryquestions">Ordinary questions</a>
        <a class="navbar_text" href="/aboutus">About us</a>

        {{#if noSession}}  
          <a class="navbar_text" href="/signup">Sign Up</a>
          <a class="navbar_text" href="/login">Login</a>
        {{/if}}
      {{#if currentUser}}
        <form action="/new-message" method="GET">
          <button type="submit" class="btn-msg">
            <img src="/images/message.svg" alt="message">
          </button>
        </form>
      </div>
        <div class="submenu-container">
          <img class="avatar" src="{{currentUser.image}}" />
          <div class="submenu">
            <a class="userProfile" href="/user/{{currentUser.id}}">Profile</a>
            <a class="userProfile" href="/user/{{currentUser.id}}/update">Edit
              Profile</a>
            {{#if userProtector}}
              <a class="userProfile" href="/pets/newpet">Add new pet</a>
            {{/if}}
            <a class="userProfile" href="/logout">Log out</a>
          </div>
        </div>
      {{/if}}
    </div>
  </div>
</nav>