<h1>SignUp</h1>

<form action="/newuser" method="POST">
  <input type="text" name="name" />
  <input type="email" name="email" />
  <input type="password" name="password" />
  <select name="role">
    <option value="user">Adoptante</option>
    <option value="protector">Protectora</option>
  </select>
  <button type="submit">Sign Up</button>
</form>