<h2 class="intro-aboutUs">We are two friends who have one idea, match homeless
  pets with people who wants to adopt an animal. The idea came naturally when we
  were studying web developing and we decided to make it real as soon as we
  could.</h2>

<div class="aboutUs">

  <div class="developer">
    <div><p>
        Leandro Pereyra. Born in Buenos Aires in 1983. He has worked on a lot of
        companies before he became a developer. His loves tech world and
        animals.
      </p></div>
    <div>
      <img
        src="https://res.cloudinary.com/davpqpwqc/image/upload/v1677180621/tindPetUser/urkj4ti8kt2a9s7pqinq.jpg"
        alt="leandro-photo"
        class="photo-aboutUs"
      />
    </div>
  </div>

  <div class="developer">
    <div><p>
        Silvia Edreira. Born in Galicia in 1996, she studied pharmacie and
        worked as a pharmacist, but one day she decided to start web developing
        and change her job.
      </p></div>
    <div>
      <img
        src="https://res.cloudinary.com/davpqpwqc/image/upload/v1677412363/tindPetUser/r2nyk1aw88xuheu8g71e.jpg"
        alt="silvia-photo"
        class="photo-aboutUs"
      />
    </div>

  </div>
</div>