<h2>
Feel free to contact with us and asking whatever you need.
</h2>
<p>Our phones, mail and direction are:</p>

<ul class="contact">
  <li class="phone">
    <p>666-666-666</p>
    <p>tindpet@tindpet.com</p>
  </li>
  <li class="direction">
    <p>Rúa Nova de Abaixo nº3 BAJO</p>
    <p>CP 15701 Santiago de Compostela</p>
    <p>Galicia, España</p>
  </li>  
</ul>  