<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />
    <sc
      src="https://widget.cloudinary.com/v2.0/global/all.js"
      type="text/javascript"
    ></sc>
    <title>TindPet</title>
  </head>
  <body>
    <navbar class="navbar">
      <a class="navbar_text" href="/">
        <img class="logo" src="/images/logo.png" />
      </a>
      <a class="navbar_text" href="/pets">PETS</a>
      <a class="navbar_text" href="/login">Login</a>
      <a class="navbar_text" href="/signup">Sign Up</a>
      <a class="navbar_text">Contact</a>
      <a class="navbar_text">Ordinary questions</a>
      <a class="navbar_text">About us</a>
    </navbar>

    <div class="container">{{{body}}}</div>

    <script src="/scripts/img-utils.js"></script>

  </body>
</html>