<div class="questions">
    <h2>Is the service for free?</h2>
    <p>Yes, the web page is free for future adopters and for portectors of course.</p>
    
    <h2>I have already found my future dog, Can I delete my profile?</h2>
    <p>It doesn´t matter. If it is ok for you, for us is not a problem.</p>
    
    <h2>How many days have the adoption process?</h2>
    <p>It depends on the adopter, the protector and also the pet! Usually, It could
      be 15 days. Then, some protectors offer one month for trial the pet once they
      chose you.</p>
    
    <h2>Can I return the pet if it is not obedient?</h2>
    <p>No, one pet means one life, and is your responsability. Once yo sign the
      papers, you are alone with them, it is not aor responsability.</p>
</div>