.footer {
  padding: 2rem 0 0 0;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-image: url("/images/footer.svg");
  background-repeat: no-repeat;
  background-position: left;
  background-size: cover;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  min-height: 6rem;
}

.footer .text {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  background-color: transparent;
  color: aliceblue;
  padding: 3rem 0 1rem 0;
}
