.message-container h1 {
  text-align: center;
  margin-bottom: 5rem;
  font-weight: 700;
  font-size: 5rem;
}

.message-container .messages {
  display: grid;
  grid-template-columns: 50% 50%;
}

.message-container .messages .msg{
  background-color: rgba(87, 131, 4, 0.398);
  margin-inline: 1rem;
  padding: 1rem 0 4.5rem 0;
  border-radius: 5px;
}

.message-container .messages h2 {
  text-align: center;
  margin-bottom: 2rem;
}

.message-container .messages .pets {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  width: 100%;
  margin: 0 auto;
  gap: 0.5rem;
}

.message-container .messages .pet {
  position: relative;
  width: 160px;
  height: 200px;
  overflow: hidden;
  border-radius: 4px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.message-container .messages .pet .bgcolor {
  background-color: rgba(0, 0, 0, 0.142);
  position: absolute;
  width: 160px;
  height: 200px;
  top: 0;
  left: 0;
}

.btn-msg {
  background-color: inherit;
  border: none;
  margin-right: 0.5rem;
  cursor: pointer;
}

.btn-msg img {
  transition: ease-in-out 0.2s;
  width: 3rem;
}

.btn-msg img:hover {
  transform: scale(1.1);
}
