.navbar {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: #9c89b8;
  align-items: center;
  font-size: larger;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 3;
}

a.userProfile {
  background-color: none;
  background: transparent;
}

.logo {
  height: 65px;
  width: 85px;
}

.navbar_text {
  background-color: none;
  background: transparent;
  color: white;
}

.navbar .avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

.submenu-container {
  background-color: #9c89b8;
  position: relative;
}

.submenu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background-color: #9c89b8;
  position: absolute;
  width: 160px;
  padding: 2rem 0;
  left: 70px;
  transition: ease-in 0.5s;
}

.submenu a {
  color: aliceblue;
}
