/* Pets */

.pets {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  width: 1200px;
  margin: 0 auto;
  gap: 2rem;
}

.pet {
  position: relative;
  width: 260px;
  height: 300px;
  overflow: hidden;
  border-radius: 4px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.pet .bgcolor {
  background-color: rgba(0, 0, 0, 0.142);
  position: absolute;
  width: 260px;
  height: 300px;
  top: 0;
  left: 0;
}

.pet .text {
  background: transparent;
  width: 100%;
  display: grid;
  grid-template-rows: 60% 20% 20%;
  height: 100%;
}

#Capa_1 {
  width: 3rem;
}

.pet .likes .cls-1 {
  fill: #fed7d9;
}

.pet .likes .cls-2 {
  fill: #baa496;
}

.pet .likes .cls-3 {
  fill: #b50009;
}

.pet .likes .cls-4 {
  fill: #baa496;
}

.pet .likes {
  justify-self: flex-end;
  padding: 0.5rem 0.5rem 0 0;
}

.pet .likes button {
  background-color: transparent;
  border: none;
  transition: ease-in 0.2s;
}

.pet .likes button:hover {
  transform: scale(1.2);
}

.pet .name {
  justify-self: flex-start;
  align-self: center;
  font-size: x-large;
  color: aliceblue;
  font-weight: 500;
  margin-left: 1rem;
}

.pet .detail {
  justify-self: center;
}

.pet .detail a {
  font-size: 1.5rem;
  background-color: #97b798;
  padding: 0 1rem 0.3rem 1rem;
  border-radius: 5px;
}

.pet .text a {
  color: aliceblue;
}

.search-bar {
  width: 1200px;
  margin: 2rem auto;
}

.search {
  padding: 10px;
  width: 100%;
  border-radius: 4px;
}
