@import url("./sections/forms.css");
@import url("./sections/pets.css");
@import url("./sections/detail.user.css");
@import url("./sections/detail.pet.css");
@import url("./sections/menu.css");

* {
  box-sizing: border-box;
  background-color: f0e6ef;
  color: 0d1b2af;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  line-height: 1;
  text-decoration: none;
  padding: 0;
  margin: 0;
}

/* home */

.container {
  padding: 110px 0px 30px 0;
}

.jumbo {
  text-align: center;
  font-size: x-large;
  margin: 3rem;
  margin-top: -10px;
}
.slogan {
  padding: 20px 0px 50px 0px;
  font-weight: 900;
  font-size: 2rem;
}
