@import url('./sections/forms.css');

* {
  box-sizing: border-box;
  background-color: rgb(236, 235, 235);
  color:darkslateblue;
  font-family: cursive;
}

/* Pets */

.navbar {
  display: flex;
  justify-content: space-between;
 /* border: 2px solid blueviolet */
  padding: 10px;
}

.logo {
  height: 65px;
  width: 85px;
}

.navbar {
  background-image: url('../images/navbar.jpg');
}

.navbar_text {
  background-color: none;
  background: transparent;
}


.pets {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 1200px;
  margin: 0 auto;
  gap: 2rem;
}

.pet {
  position: relative;
  width: 260px;
  height: 300px;
  overflow: hidden;
}

.pet img {
  position: absolute;
  max-height: 350px;
}

.pet .text {
  font-family: cursive;
  font-weight: 300;
  position: absolute;
  bottom: 0;
  background: transparent;
}

.title_pet {
  font-size:x-large;
  color: aliceblue;
}

.detail {
  margin: 100px;
  padding: 10px;
  color:aliceblue;

}

.pet .text p,
.pet .text a {
  background-color: transparent;
}

.search {
  padding: 10px;
}
