<section class="jumbo">
  <h1 class="slogan">Matching people with their future life mates.</h1>
  <p class="intro">TindPet was born in 2023 for those people who want to find a
    new pet in their area. This website helps connect animal protectors with
    future adopters quickly and easily. The protector receives your request for
    interest in an animal and contacts you. Unfortunately, new homeless animals
    appear every day, so our website is tremendously dynamic and full of new
    opportunities.
  </p>
</section>

{{> petcard}}