<section class="jumbo">
    <h1 class="slogan">Tindpet, matching people with their future life mates.</h1>
<p class="intro">In 2023, Tindpet borns for those people who want to find a new pet in their town. This app helps connecting local protectors with people</p>
</section>

<div class="pets">
  {{#each pets as |pet|}}
    <div class="pet" style="background-image:url('{{pet.image}}')">
      <div class="bgcolor">
      </div>
      <div class="text">
        <p class="title_pet">{{pet.name}}, {{pet.age}}</p>
        <div class="detail">
          <a href="/pets/{{pet.id}}">Detail</a>
        </div>
      </div>
    </div>
  {{/each}}
</div>